<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer">
	<div class="maincontent">
		<!--<iframe ng-src="" ng-show=""></iframe>-->
		<div class="container-fluid">
			<div class="orchestra_main_content">
				<div class="orchestra_devices magin-btm-20" style="margin-bottom:12px;">
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
							<div class="orchestra_devices_list boxshdw orange_bg_color" data-toggle="modal" data-target="#Device_List" ng-click="showDeviceList()">
								<div class="orchestra_devices_image">
									<img src="images/mobile_device.png" alt="Device Image">
								</div>
								<div class="orchestra_devices_content" >
									<span class="text-uppercase devices white_color">devices</span>
									<span class="devices_number">{{deviceCount}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
							<div class="orchestra_devices_list boxshdw blue_bg_color" data-toggle="modal" data-target="#Active_Device_List" ng-click="showActiveDeviceList()">
								<div class="orchestra_devices_image">
									<img src="images/active_devices.png" alt="Active Devices Image">
								</div>
								<div class="orchestra_devices_content">
									<span class="text-uppercase devices white_color">Active Devices</span>
									<span class="devices_number">{{activeDeviceCount}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
							<div class="orchestra_devices_list boxshdw violet_bg_color" data-toggle="modal" data-target="#Job_List" ng-click="showJobList()">
								<div class="orchestra_devices_image">
									<img src="images/job_scheduled.png" alt="Job Scheduled Image">
								</div>
								<div class="orchestra_devices_content">
									<span class="text-uppercase devices white_color">Job Scheduled</span>
									<span class="devices_number">{{scheduledJobCount}}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
							<div class="orchestra_devices_list boxshdw yellow_bg_color" data-toggle="modal" data-target="#Active_Job_List" ng-click="showActiveJobList()">
								<div class="orchestra_devices_image">
									<img src="images/job_scheduled.png" alt="Job Scheduled Image">
								</div>
								<div class="orchestra_devices_content">
									<span class="text-uppercase devices white_color">Active Jobs</span>
									<span class="devices_number">{{activeJobCount}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="device_usage magin-btm-20" style="margin-bottom:10px;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="device_usage_graph boxshdw">
								<div class="device_heading text-uppercase">
									<h4>
										Device Usage
										<div class="status_graph text-capitalize"> <!-- pull-right -->
											<span><em></em> Active</span>
											<span><em></em> Idle</span>
										</div>
									</h4>
								</div>
								<span class="device_graph_text"># of Devices</span>
								<div class="usage_graph">
									<div class="user_graph_image">
										<div style="width:100%">
											<canvas id="canvas" height="270px" width="600px"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="device_usage_graph boxshdw">
								<div class="device_heading text-uppercase">
									<h4>Execution Status</h4>
									<div style="float:right;position:relative;top:-25px;">
										<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
											<input class="form-control" id="dat" type="text" readonly style="width:75px;height:40px;padding:0px;margin:0px;font-size:12px;padding-left:10px;"/>
											<span class="input-group-addon" style="width:5px;height:30px"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</div>
								</div>
								<span class="device_graph_text1">% Job Progress</span>
								<div class="executive_status_graph" style="clear:both;">
									<div id="chart_div" style=""></div>
								</div>
								<p style="position:relative;left:40%;">Job Name</p>
							</div>
						</div>
					</div>
				</div>
				<div class="availability_map_section magin-btm-20">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" style="height:320px;">
							<div class="device_usage_graph device_availability boxshdw">
								<div class="device_heading text-uppercase">
									<h4>Device Availability <!--<a href="#" class="refresh"><img src="images/refresh-icon.png" alt="refresh"></a>--></h4>
								</div>
								<div class="device_availability_pi_chart">
									<div id="chart1" class="chart" style="width:100%;height:90%;"></div>
								</div>
								<div id="circles" style="height:auto;width:30%;float:right;position:relative;top:-188px;left:-10px;">
									<div>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(255, 153, 0);float:left;"></div><p style="margin-left:40px;">Reistered</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(177, 152, 220);float:left;"></div><p style="margin-left:40px;">Licenced</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(87, 189, 222);float:left;"></div><p style="margin-left:40px;">Available</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(255, 135, 97);float:left;"></div><p style="margin-left:40px;">Active</p>
									</div>
								</div>
								<div class="device_availability_content">
									<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore, magna aliqua. Ut</p>-->
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
							<div class="device_availability_map boxshdw">
								<div class="availability_map_viewimage">
									<span class="mapview_image"><img src="images/mapview_image.png" alt="Map Image"></span>
									<div class="availability_map_viewimage_content">
										<span class="text-uppercase">Map View</span>
										<div class="viewimage_links">
											<a href="" ng-click="gotoReplayMap()">Replay</a>
											<a href="" ng-click="gotoLiveMap()">Live</a>
										</div>
										<img src="images/map_mobile.png" alt="Mobile">
									</div>
								</div>
								<div class="device_availability_map">
									<div id="Map"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="favorite_reports boxshdw  magin-btm-20">
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="device_heading text-uppercase">
							<h4>favorite reports</h4>
						</div>
						<div class="reports">
						<img src="images/ajax-loader.gif" ng-show="isRemoveFavorite" style="float:left;"></img>
							<ul class="nav" id="FavouritesList" >
								<p ng-show="Favourites.length <= 0">No Favourites</p>
								<li ng-repeat="z in Favourites" ng-show="Favourites.length > 0" ng-click = "ShowReports(z.menu_url, z.screen_name)">
									
									<div class="favorite_reports_list">
										<div class="reports_image yellow_bg_color">
											<img src="images/pi_reports.png" alt="call performance image">
										</div>
										<div class="reports_fav_content">
											<img src="images/fav_icon.png" alt="Favorite" ng-click="favourites($event,z.screen_id)">
											<span class="text-uppercase">FAV</span>
										</div>
										<div class="reports_title">
											<span>{{z.screen_name}}</span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="Device_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#FF8761">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">DEVICE LIST</h4>
			</div>
			<div class="modal-body" >
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoading"></img>
				<p style="text-align:center" ng-show="DeviceList.devicesList.length <= 0 && !dataLoading">No Data Found</p>
				<div ui-grid="deviceListGridOptions" ui-grid-pagination class="grid" ng-show="DeviceList.devicesList.length > 0 && !dataLoading" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
	
<div class="modal fade" id="Active_Device_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#57BDDE">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">ACTIVE DEVICE LIST</h4>
			</div>
			<div class="modal-body">
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoading"></img>
				<p style="text-align:center" ng-show="ActiveDeviceList.activeDevicesList.length <= 0 && !dataLoading">No Data Found</p>
				<div ui-grid="activeDeviceGridOptions" ui-grid-pagination class="grid" ng-show="ActiveDeviceList.activeDevicesList.length > 0 && !dataLoading" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="Job_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#B198DC">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">SCHEDULED JOB LIST</h4>
			</div>
			<div class="modal-body">
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoading"></img>
				<p style="text-align:center" ng-show="JobList.scheduledJobCount <= 0 && !dataLoading">No Data Found</p>
				<div ui-grid="jobListGridOptions" ui-grid-pagination class="grid" ng-show="JobList.scheduledJobCount > 0 && !dataLoading" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="Active_Job_List" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:900px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#ffc300">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title" style="color:#FFFFFF;">ACTIVE JOB LIST</h4>
			</div>
			<div class="modal-body">
				<img src="images/loading.gif" style="position:relative;left:42%;" ng-show="dataLoading"></img>
				<p style="text-align:center" ng-show="ActiveJobList.activeJobCount <= 0 && !dataLoading">No Data Found</p>
				<div ui-grid="activeJobListGridOptions" ui-grid-pagination class="grid" ng-show="ActiveJobList.activeJobCount > 0 && !dataLoading" style="margin:0 auto;width:800px;"></div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>
