<div ng-include="'app/views/header.html'"></div>						
<div>
	<div class="maincontent">
		<div class="container-fluid">
			<div class="orchestra_devices_table">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="table-header">
							<p style="color:#337ab7;">Change Password</p>
							<div class="clearfix"></div>
						</div>
						<div class="device-table server-table" style="position: relative;top: 10px;">
							<div class="table-responsive">
								<!-- start -->
								  <div class="tab-content">
										<div id="account"  >
											<div class="orchestra_devices_table">
												<div class="row">
													<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
														<form class="form-horizontal">
															<div class="form-group">
																<label for="user_group" class="col-sm-4 control-label">Password</label>
																<div class="col-sm-4">
																	<input type="password" class="form-control" id="password">
																</div>
															</div>
															<div class="form-group">
																<label for="user_id" class="col-sm-4 control-label">Confirm Password</label>
																<div class="col-sm-4">
																	<input type="password" class="form-control" id="conformpassword">
																</div>
															</div>
															<div class="form-group ot-btn-data"> 
																<div class="col-sm-offset-2 col-sm-10  text-center">
																	<button type="button" class="btn btn-info ot-btn" ng-click="saveChange()">Save</button>
																	<button type="button" class="btn btn-info ot-btn" ng-click = "back()">Cancel</button>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								
								<!-- end -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-include="'app/views/favourites.html'" style="position: relative;top: 30px;"></div>
		</div>
	</div>
</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>