
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer" style="padding:15px">
    <div class="maincontent"     style="margin-left: 0px;">
        <div class="container-fluid">
            <div class="ot-deviceData" style="max-width:100%;margin-left:0px">

                <div class="tab-content">
                    <div id="devices" class="tab-pane fade in active">
                        <div class="orchestra_devices_table" style="height:800px;max-width: 61%">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%">
                                    <div class="device-table">
                                        <div style="width:100%;height:50px">
                                            <h1>Test Plan</h1>
                                        </div>

                                        <div class="tree" style="width: 100%;height: 500px;">

                                            <div class="table-responsive" style="width:48%;height:450px;float:left;background-color: grey;color:white;">
                                                <!--                                                <table class="table" style="width:100%">
                                                                                                    <thead>
                                                                                                        <tr>
                                                
                                                                                                            <th style="width:60%">Name</th>
                                                                                                            <th style="width:15%">Loop </th>
                                                                                                            <th style="width:15%">Seq No</th>
                                                                                                        </tr>
                                                
                                                
                                                                                                    </thead>
                                                                                                    <tbody style="max-height:500px">
                                                                                                        <tr>
                                                
                                                                                                            <td><ig-tree-grid id="grid1" data-source="create" width="100%" height="450px" primary-key="id" auto-commit="true" auto-generate-columns="false" child-data-key="products" render-expand-column="true">
                                                                                                               <columns>
                                                                                                                   <column key="jobName" header-text="" width="100px" data-type="number"></column>
                                                                                                                    <column key="jobName" header-text="ID" width="100px" data-type="number"></column>
                                                                                                               </columns> 
                                                                                                    </ig-tree-grid></td>
                                                                                                            <td>Monitor</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>6</td>
                                                                                                            <td>Monitor</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>7</td>
                                                                                                            <td>Monitor</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>8</td>
                                                                                                            <td>Monitor</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>9</td>
                                                                                                            <td>Monitor</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>10</td>
                                                                                                            <td>SMS</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>11</td>
                                                                                                            <td>SMS</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>12</td>
                                                                                                            <td>Voice Call</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>13</td>
                                                                                                            <td>Voice Call</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>14</td>
                                                                                                            <td>Unknown</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                
                                                                                                            <td>15</td>
                                                                                                            <td>Unknown</td>
                                                                                                            <td>Monitor</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                  <li class="list-group-item"
                                                            ad-drag="true"
                                                            ad-drag-data="car"
                                                            ad-drag-begin="onDragStart($data, $dragElement, $event);"
                                                            ad-drag-end="onDragEnd($data, $dragElement, $lastDropElement, $event);"
                                                            ng-repeat="car in models.cars">
                                                          <span>
                                                            <span class="glyphicon glyphicon-th"></span>
                                                            {{ car.name }} - {{ car.modelYear }} ( {{ car.price | currency }} )
                                                          </span>
                                                        </li>
                                                      </ul>
                                                
                                                <!-- ========== Usage Drop ========== -->
                                                <ul id="my-basket"
                                                    class="list-group"
                                                    ad-drop="true"
                                                    ad-drop-over="onDragOver($data, $dragElement, $dropElement, $event);"
                                                    ad-drop-leave="onDragLeave($data, $dragElement, $dropElement, $event)"
                                                    ad-drop-end="onDrop($data, $dragElement, $dropElement, $event);">
                                                    <li class="list-group-item disabled">My Basket</li>
                                                    <li class="list-group-item"
                                                        ad-drag="true"
                                                        ng-repeat="car in models.basket">
                                                        <span>
                                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                                            {{ car.name}} - {{ car.modelYear}} ( {{ car.price | currency }} )
                                                        </span>
                                                    </li>
                                                    <li class="list-group-item" ng-hide="models.basket.length">
                                                        <span> Drop here</span>
                                                    </li>
                                                </ul>

                                                <ul class="list-group">
                                                    <!-- =========== Drag with handles ============= -->
                                                    <li class="list-group-item"
                                                        ad-drag="true"
                                                        ad-drag-handle="true"
                                                        id="drag-handle-demo">
                                                        <span class="ad-drag-handle glyphicon glyphicon-align-justify"></span>
                                                        Drag me using my handle
                                                    </li>
                                                    <!-- =========== Drag on the whole element ============= -->
                                                    <li class="list-group-item"
                                                        ad-drag="true"
                                                        id="drag-element-demo">
                                                        Drag me without handle
                                                    </li>
                                                    <!-- =========== Prevent drag on parts of the element ============= -->
                                                    <li class="list-group-item"
                                                        ad-drag="true"
                                                        id="drag-prevent-demo">
                                                        Drag me, except <strong ad-prevent-drag>this bold text</strong></li>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>\
                                    <div style="width:100%;height:100px;float: right;margin-right:0px">
                                        <!--                                        <input type="button" name="button" value="Finish" class="btn btn-info" style="float: right;margin: 10px;width: 100px;"/>
                                                                                <input type="button" name="button" value="Cancel" class="btn btn-info" style="float: right;margin: 10px;width: 100px;"/>-->
                                        <input type="button" name="button" value="Next" class="btn btn-info" style="float: right;margin: 10px;width: 100px;" ng-click="commandParameters_next()"/>
                                        <!--                                        <input type="button" name="button" value="Previous" class="btn btn-info" style="float: right;margin: 10px;width: 100px;"/>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>