
<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer" style="padding:15px">
    <div class="maincontent"     style="margin-left: 0px;">
        <div class="container-fluid">
            <div class="ot-deviceData" style="max-width:100%;margin-left:0px">

                <div class="tab-content">
                    <div id="devices" class="tab-pane fade in active">
                        <div class="orchestra_devices_table" style="height:800px;max-width: 61%">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%">
                                <!--<div ui-grid="gridOptions2" class="grid"></div>-->
                                <h1 class="lead"><strong>Create Test Run</strong></h1>
                                <div class="row">
                                    <div class="col-md-4"><h3 class="margin_topnone lead"><strong>Test Run</strong></h3></div>
                                    <div class="col-md-4"><input type="text"></div>
                                    <div class="col-md-4"><input type="text"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 margin_top"></div>
                                    <div class="col-md-4 margin_top">Column middle</div>
                                    <div class="col-md-4 margin_top">Column right</div>
                                </div>



                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


