<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer" style="padding:15px">
    <div class="maincontent"     style="margin-left: 0px;">
        <div class="container-fluid">
            <div class="ot-deviceData" style="max-width:100%;">

                <div class="tab-content">
                    <div id="devices" class="tab-pane fade in active">
                        <div class="orchestra_devices_table" style="height:500px">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%">

                                     <div id="grid1" ui-grid='gridOptions' ui-grid-selection class="grid"></div>
                                    <div style="width:100%;height:50px;margin:0px 40%;margin-top: 30px; ">
                                        
                                        <input type="button" name="button" value="Next" class="btn btn-info" ng-click="view_testrun();"/>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>				
            </div>

        </div>
        <div ng-include="'app/views/favourites.html'" ></div>	
    </div>
</div>