<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer">
	<div class="maincontent">
		<iframe ng-src="{{ReportUrl}}" class="orchestra_main_content"style="width:100%;height:600px;"></iframe>
		<div class="favorite_reports boxshdw  magin-btm-20">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="device_heading text-uppercase">
						<h3>favorite reports</h3>
					</div>
					<div class="reports">
						<img src="images/ajax-loader.gif" ng-show="isRemoveFavorite" style="float:left;"></img>
						<ul class="nav" id="FavouritesList" >
							<p ng-show="Favourites.length <= 0">No Favourites</p>
							<li ng-repeat="z in Favourites"  ng-show="Favourites.length > 0" ng-click = "ShowReports(z.menu_url, z.screen_name)">
								<div class="favorite_reports_list">
									<div class="reports_image yellow_bg_color">
										<img src="images/pi_reports.png" alt="call performance image">
									</div>
									<div class="reports_fav_content">
										<img src="images/fav_icon.png" alt="Favorite" ng-click="favourites($event,z.screen_id)">
										<span class="text-uppercase">FAV</span>
									</div>
									<div class="reports_title">
										<span>{{z.screen_name}}</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include="'app/views/favouritesPopUp.html'"></div>