<div ng-include="'app/views/header.html'"></div>
	
	<!-- Header Ends -->
	
	
	<!-- Main Content Starts -->
<div class="maincontainer">
	<div class="maincontent">
		<div class="container-fluid">
			<div class="orch-rep-dashboards boxshdw" style="margin-bottom:10px;">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					
						<div class="heading1">Select Report Category</div>
						<ul id="parent-list" >
							<li   ng-class="{active:$first}" ng-repeat =" (key,val) in reports | orderBy: ' {{ key }} ' ">{{ key }}</li>
							
						</ul>
							
						<div class="bottom-section">
							<!--
							<button type="button" class="btn btn-primary">Next</button>
							-->
							<a class="btn btn-primary" ng-click="goToNext()">Next</a>
						</div>
						
					</div>
				</div>
			</div>
			<div ng-include="'app/views/favourites.html'"></div>
		</div>
	</div>
</div>
<!-- Main Content Ends -->
<div ng-include="'app/views/favouritesPopUp.html'"></div>

  