<div ng-include="'app/views/header.html'"></div>
	<!-- Header Ends -->
	
	
	<!-- Main Content Starts -->
	<div class="maincontainer">
		<div class="maincontent">
			<div class="container-fluid">
				<div class="orch-rep-dashboards boxshdw" style="margin-bottom:10px;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						
							<div class="heading1"><a ng-click="goBack('reportsCategory')" style="cursor:pointer;">Reports Category</a> > <a ng-click="goBack(selected)" style="cursor:pointer;">{{selected}}</a><span style="font-weight:900;">{{' > '+ (selected1 | capitalize)}}</span></div>
							<div class="orch-rep-dashboards-innerDv orch-pad1">
								<div class="row" >
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
										<div class="orch-dashboard-loc-zone">
											<label>Location</label>
											<select id="locationSelectd" size="3">
												<option selected="selected">Zone</option>
												<option>Radius</option>
												<option>Geofence</option>
											</select>
										</div>
									</div>

									<div class="col-xs-12 col-sm-4 " >
									    	<img src="images/loading.gif" style="position:relative;left:40%;" ng-show="dataLoading3"></img>
										<div class="orch-dashboard-loc-zone" ng-show = "zoneMarket" >
											<label>Zone</label>
											<select id="target" size="8" >
											        <option selected="selected">Default</option>
													<option ng-repeat="val in marketList" >{{val}}</option>
											</select>
											
										</div>
										<div ng-show ="zone2Market" style="font-size:20px;color:red;"><label style ="color:#333;font-size:14px;font-family: Rajdhani-Regular;">Radius</label><br>No Data Found</div>
										<div ng-show ="zone3Market" style="font-size:20px;color:red;"><label style ="color:#333;font-size:14px;font-family: Rajdhani-Regular;">Geofence</label><br>No Data Found</div>
										
									</div>

				
								</div>
								
								
								
								<div class="bottom-section">
								<!--
								<button type="button" class="btn btn-primary">Next</button>
								-->
									<a ng-click="goToNext()" class="btn btn-primary" ng-disabled="dataLoading || dataLoading3">Next</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div ng-include="'app/views/favourites.html'"></div>
			</div>
		</div>
	</div>
	<!-- Main Content Ends -->
<div ng-include="'app/views/favouritesPopUp.html'"></div>