<div ng-include="'app/views/header.html'"></div>
	<!-- Header Ends -->
	
	
	<!-- Main Content Starts -->
	<div class="maincontainer">
		<div class="maincontent" style="width:100%;">
			<div class="container-fluid">
				<div class="orch-rep-dashboards boxshdw" style="margin-bottom:10px;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:650px;">
						<!--	<div class="device_usage_graph device_availability boxshdw" style="padding: 10px 0px 250px 12px;">-->
								
								<div class="device_heading text-uppercase" style="margin-left:20px;">
									<h4>Device Availability <!--<a href="#" class="refresh"><img src="images/refresh-icon.png" alt="refresh"></a>--></h4>
								</div>
								<div class="device_availability_pi_chart" style="height:80%;width:80%;">
									<div id="chart1" class="chart" style="width:100%;height:250%;margin-left:20px;"></div>
								</div>
								<div id="circles" style="height:auto;width:30%;float:right;position:relative;top:-90px;left:0px;">
									<div>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(255, 153, 0);float:left;"></div><p style="margin-left:40px;">Registered</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(177, 152, 220);float:left;"></div><p style="margin-left:40px;">Licensed</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(87, 189, 222);float:left;"></div><p style="margin-left:40px;">Available</p>
										<div style="width:20px;height:20px;border-radius:10px;background:rgb(255, 135, 97);float:left;"></div><p style="margin-left:40px;">Active</p>
									</div>
								</div>
								<div class="device_availability_content" >
									<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore, magna aliqua. Ut</p>-->
								</div>
							</div>
						<!--</div>-->
					</div>
				</div>
				<div ng-include="'app/views/favourites.html'" ></div>
			</div>
		</div>
	</div>
	<!-- Main Content Ends -->
<div ng-include="'app/views/favouritesPopUp.html'"></div>