<div ng-include="'app/views/header.html'"></div>
	<!-- Header Ends -->
	
	
	<!-- Main Content Starts -->
	<div class="maincontainer">
		<div class="maincontent">
			<div class="container-fluid">
				<div class="orch-rep-dashboards boxshdw" style="margin-bottom:10px;">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						
							<div class="heading1"><a ng-click="goBack('reportsCategory')" style="cursor:pointer;">Reports Category</a>{{ ' > ' +performanceText}}</div>
							<div class="subHeading1">Select View</div>
							<ul id="parent-list">
							<li ng-repeat="item in performanceList[performance]" ng-class="{active:$first}" ng-click="getSubmenuAvailability($event,item.isAvailable)">{{item.subMenu}}<input type="hidden" value="{{item.isAvailable}}" /></li>
							</ul>
							
							<div class="bottom-section">
								<!--
								<button type="button" class="btn btn-primary">Next</button>
								-->
								<a class="btn btn-primary" ng-click="goToNext()">Next</a>
							</div>
							
						</div>
					</div>
				</div>
				
	
				<div ng-include="'app/views/favourites.html'"></div>
			</div>
		</div>
	</div>
	<!-- Main Content Ends -->
<div ng-include="'app/views/favouritesPopUp.html'"></div>
<div class="modal fade" id="pavan" role="dialog" data-backdrop="static" data-keyboard="false">								
	<div class="modal-dialog" style="width:400px;">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style="background-color:#337AB7">
				<h4 class="modal-title" style="color:#FFFFFF;">Sub Menu PopUp</h4>
			</div>
			<div class="modal-body" id="FavouritesResponseMessageColor" style="color:red;">
				Sorry The Submenu Implementation is Not Available
			</div>
			<div class="modal-footer">
				
			</div>
		</div>
	</div>
</div>
