<div ng-include="'app/views/header.html'"></div>
<div class="maincontainer" style="padding:15px">
    <div class="maincontent"     style="margin-left: 0px;">
        <div class="container-fluid">
            <div class="ot-deviceData" style="max-width:100%;margin-left:0px">

                <div class="tab-content">
                    <div id="devices" class="tab-pane fade in active">
                        <div class="orchestra_devices_table" style="height: auto;max-width: 72%">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="max-width:100%">
                                    <div ncy-breadcrumb></div>
                                   
                                    <div class="row">
                                        
                                        <div class="col-md-12 margin_top">
                                          <div id="firstGrid" ui-grid="TestRunGridOptions" ui-grid-selection ui-grid-cellNav class="grid"></div>
                                        </div>
                                       
                                         
                                        
                                       
                                    </div>
                                </div>
                                <a ui-sref=".editCommandParameters" class="btn btn-info center">Next</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/views/favourites.html'" ></div>	




